In [1]:
import pandas as pd
import numpy as np

Data Preprocessing

In [3]:
data_path = r"C:\Users\trush\OneDrive\Documents\WFU Grad School Info\BAN 6025 Machine Learning\Organics Project\organics.csv"
organic_df = pd.read_csv(data_path)
organic_df = organic_df.drop(columns=['ID'])
organic_df.head()

,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,PromTime,TargetBuy,TargetAmt
0,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,4.0,0,0
1,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,5.0,0,0
2,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,8.0,1,1
3,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,7.0,1,1
4,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,8.0,0,0

Find Missing Values

In [4]:
def find_missing(df):
    return (df.isna().sum() / len(df)) * 100

In [5]:
find_missing(organic_df)

DemAffl             4.882329
DemAge              6.785762
DemCluster          3.032894
DemClusterGroup     3.032894
DemGender          11.303604
DemReg              2.092427
DemTVReg            2.092427
PromClass           0.000000
PromSpend           0.000000
PromTime            1.264456
TargetBuy           0.000000
TargetAmt           0.000000
dtype: float64

Age: We can't estimate age without a birthdate column, so I am going to drop the missing values in the age column