In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score

import tensorflow as tf
from tensorflow.keras.optimizers import SGD
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from imblearn.over_sampling import SMOTE
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
df = pd.read_csv(r"C:\Users\trush\OneDrive\Documents\WFU Grad School Info\BAN 6025 Machine Learning\Sky's the Limit\BAN6025Project2Data.csv")
df.head()

,Target_Y,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
0,0,0.3,0.986506,-1,25,40,0.006735,102.453711,AA,1059,...,0,1500,0,INTERNET,16.224843,linux,1,1,0,0
1,0,0.8,0.617426,-1,89,20,0.010095,-0.849551,AD,1658,...,0,1500,0,INTERNET,3.363854,other,1,1,0,0
2,0,0.8,0.996707,9,14,40,0.012316,-1.490386,AB,1095,...,0,200,0,INTERNET,22.730559,windows,0,1,0,0
3,0,0.6,0.475100,11,14,30,0.006991,-1.863101,AB,3483,...,0,200,0,INTERNET,15.215816,linux,1,1,0,0
4,0,0.9,0.842307,-1,29,40,5.742626,47.152498,AA,2339,...,0,200,0,INTERNET,3.743048,other,0,1,0,0

Dummy Variables

In [3]:
df = pd.get_dummies(df, columns=['X8', 'X18', 'X15', 'X25', 'X27'], drop_first=True, dtype=float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 48 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Target_Y       1000000 non-null  int64
 1   X1             1000000 non-null  float64
 2   X2             1000000 non-null  float64
 3   X3             1000000 non-null  int64
 4   X4             1000000 non-null  int64
 5   X5             1000000 non-null  int64
 6   X6             1000000 non-null  float64
 7   X7             1000000 non-null  float64
 8   X9             1000000 non-null  int64
 9   X10            1000000 non-null  float64
 10  X11            1000000 non-null  float64
 11  X12            1000000 non-null  float64
 12  X13            1000000 non-null  int64
 13  X14            1000000 non-null  int64
 14  X16            1000000 non-null  int64
 15  X17            1000000 non-null  int64
 16  X19            1000000 non-null  int64
 17  X20            1000000 non-null  int64
 18  X21            1000000 non-null  int64
 19  X22            1000000 non-null  int64
 20  X23            1000000 non-null  int64
 21  X24            1000000 non-null  int64
 22  X26            1000000 non-null  float64
 23  X28            1000000 non-null  int64
 24  X29            1000000 non-null  int64
 25  X30            1000000 non-null  int64
 26  X31            1000000 non-null  int64
 27  X8_AB          1000000 non-null  float64
 28  X8_AC          1000000 non-null  float64
 29  X8_AD          1000000 non-null  float64
 30  X8_AE          1000000 non-null  float64
 31  X18_BB         1000000 non-null  float64
 32  X18_BC         1000000 non-null  float64
 33  X18_BD         1000000 non-null  float64
 34  X18_BE         1000000 non-null  float64
 35  X18_BF         1000000 non-null  float64
 36  X18_BG         1000000 non-null  float64
 37  X15_CB         1000000 non-null  float64
 38  X15_CC         1000000 non-null  float64
 39  X15_CD         1000000 non-null  float64
 40  X15_CE         1000000 non-null  float64
 41  X15_CF         1000000 non-null  float64
 42  X15_CG         1000000 non-null  float64
 43  X25_TELEAPP    1000000 non-null  float64
 44  X27_macintosh  1000000 non-null  float64
 45  X27_other      1000000 non-null  float64
 46  X27_windows    1000000 non-null  float64
 47  X27_x11        1000000 non-null  float64
dtypes: float64(29), int64(19)
memory usage: 366.2 MB

Random Sample

In [5]:
sample_size = 0.05

sample_df = df.groupby('Target_Y', group_keys=False).apply(lambda x: x.sample(frac=sample_size, random_state=69))

sample_df.head()

C:\Users\trush\AppData\Local\Temp\ipykernel_15296\4115993255.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sample_df = df.groupby('Target_Y', group_keys=False).apply(lambda x: x.sample(frac=sample_size, random_state=69))

,Target_Y,X1,X2,X3,X4,X5,X6,X7,X9,X10,...,X15_CC,X15_CD,X15_CE,X15_CF,X15_CG,X25_TELEAPP,X27_macintosh,X27_other,X27_windows,X27_x11
434757,0,0.1,0.305352,-1,116,40,0.019318,-1.187689,3447,11124.876879,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
334757,0,0.2,0.998933,29,5,20,17.990344,-1.101194,4507,11228.317603,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
895206,0,0.6,0.249452,31,16,40,0.010178,9.409894,1291,5087.989767,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
723405,0,0.3,0.142540,-1,118,40,0.007960,49.521697,2353,4698.312868,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
133474,0,0.4,0.397762,-1,75,40,0.008105,27.252734,846,10738.552406,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
sample_df['Target_Y'].value_counts()

Target_Y
0    49449
1      551
Name: count, dtype: int64